.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5pt 0 30pt 0;
}

.form-title {
    margin: 10pt 0 2pt 0;
}

.form-input {
    padding: 7pt;
    margin: 0 0 10pt 0;
    min-width: 20rem;
    border-radius: 10pt;
    border: 1pt solid var(--color-lightgray) ;
}