.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
}

.logo {
    height: 4rem;
    margin: 1rem; 
    border-radius: 5%;
} 

.navbar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar--brandname {
    font-family: Impact, Haettenschweiler, 'Arial', sans-serif;
    font-size: larger;
    color:var(--color-black);
    text-decoration: none;
}

.navbar-body {
    display:flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;
    margin: 0 1rem;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    margin: 0.5 0;
}

.navbar-list-item {
    margin: 0 0.5rem;
    padding: 1rem;
    transition-duration:0.2s ;
    border-radius: 5%;
    color: var(--color-black);
    text-decoration: none;
}

.navbar-list-item:hover {
    transition-duration:0.2s ;
    box-shadow: 3px 3px 10px var(--color-primary--darker);

}