* {
    margin: 0;
    padding: 0;
}

/* About the Header */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: cadetblue;
}

/* About the NavBar */
.navbar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-body {
    display:flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;
    margin: 0 1rem;
}

.brandname {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0.5 0;
}

.navbar-list-item {
    margin: 0 0.5rem;
    padding: 1rem;
    transition-duration:0.2s ;
    border-radius: 5%;
}

.navbar-list-item:hover {
    transition-duration:0.2s ;
    box-shadow: 3px 3px 10px rgb(58, 97, 99);

}

/* About the CartWidget */
.cart-container {
    position: relative;    
}

.cart {
    width: 2rem;
    margin: 0.5rem;
}

.counter-container {
    width: 1rem;
    height: 1rem;
    background-color: red;
    padding: 1px;
    position: absolute;
    top: -4pt;
    right: 9pt;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
}
.counter{
    font-weight: 600;
    font-size: small;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

/* About the ItemListContainer */
.item-list-container {
    padding: 1rem;
    text-align: center;
}

/* About the Logo */
.logo {
    height: 4rem;
    margin: 1rem; 
    border-radius: 5%;
} 